<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764788444458-3eru997e00eg43cfhp9sro70pukh21ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764788444458-3eru997e00eg43cfhp9sro70pukh21ao</string>
	<key>API_KEY</key>
	<string>AIzaSyBRBAmDdsXl_j18NLQNIZgf0mr2DbO08bo</string>
	<key>GCM_SENDER_ID</key>
	<string>764788444458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyun99999.APNsTutorial</string>
	<key>PROJECT_ID</key>
	<string>apnstutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>apnstutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764788444458:ios:d4b27a8ac1d1d73dcba253</string>
</dict>
</plist>